In [1]:
#importando a biblioteca pandas
import pandas as pd

In [5]:
df = pd.read_csv("/content/drive/MyDrive/Cusro_Python_Pandas_Digital_Innovation-master/datasets/Gapminder.csv", error_bad_lines=False, sep=";")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
#Visualizando as 5 primeiras linhas
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [13]:
df = df.rename(columns={"country": "Pais", "continent": "Continente", "year": "Ano", "lifeExp": "Expectativa de vida", "pop": "População", "gdpPercap": "PIB per capita"})

In [14]:
df.head(10)

,Pais,Continente,Ano,Expectativa de vida,População,PIB per capita
0,Afghanistan,Asia,1952,28.801,8425333,779.445314
1,Afghanistan,Asia,1957,30.332,9240934,820.853030
2,Afghanistan,Asia,1962,31.997,10267083,853.100710
3,Afghanistan,Asia,1967,34.020,11537966,836.197138
4,Afghanistan,Asia,1972,36.088,13079460,739.981106
5,Afghanistan,Asia,1977,38.438,14880372,786.113360
6,Afghanistan,Asia,1982,39.854,12881816,978.011439
7,Afghanistan,Asia,1987,40.822,13867957,852.395945
8,Afghanistan,Asia,1992,41.674,16317921,649.341395
9,Afghanistan,Asia,1997,41.763,22227415,635.341351

In [15]:
#Total de linhas e colunas
df.shape

(3312, 6)

In [17]:
df.dtypes

Pais                    object
Continente              object
Ano                      int64
Expectativa de vida    float64
População                int64
PIB per capita         float64
dtype: object

In [19]:
df.tail(15)

,Pais,Continente,Ano,Expectativa de vida,População,PIB per capita
3297,Zambia,Africa,1997,40.238,9417789,1071.353818
3298,Zambia,Africa,2002,39.193,10595811,1071.613938
3299,Zambia,Africa,2007,42.384,11746035,1271.211593
3300,Zimbabwe,Africa,1952,48.451,3080907,406.884115
3301,Zimbabwe,Africa,1957,50.469,3646340,518.764268
3302,Zimbabwe,Africa,1962,52.358,4277736,527.272182
3303,Zimbabwe,Africa,1967,53.995,4995432,569.795071
3304,Zimbabwe,Africa,1972,55.635,5861135,799.362176
3305,Zimbabwe,Africa,1977,57.674,6642107,685.587682
3306,Zimbabwe,Africa,1982,60.363,7636524,788.855041
3307,Zimbabwe,Africa,1987,62.351,9216418,706.157306
3308,Zimbabwe,Africa,1992,60.377,10704340,693.420786
3309,Zimbabwe,Africa,1997,46.809,11404948,792.449960
3310,Zimbabwe,Africa,2002,39.989,11926563,672.038623
3311,Zimbabwe,Africa,2007,43.487,12311143,469.709298

In [20]:
df.describe

<bound method NDFrame.describe of              Pais Continente   Ano  Expectativa de vida  População  \
0     Afghanistan       Asia  1952               28.801    8425333
1     Afghanistan       Asia  1957               30.332    9240934
2     Afghanistan       Asia  1962               31.997   10267083
3     Afghanistan       Asia  1967               34.020   11537966
4     Afghanistan       Asia  1972               36.088   13079460
...           ...        ...   ...                  ...        ...
3307     Zimbabwe     Africa  1987               62.351    9216418
3308     Zimbabwe     Africa  1992               60.377   10704340
3309     Zimbabwe     Africa  1997               46.809   11404948
3310     Zimbabwe     Africa  2002               39.989   11926563
3311     Zimbabwe     Africa  2007               43.487   12311143

      PIB per capita
0         779.445314
1         820.853030
2         853.100710
3         836.197138
4         739.981106
...              ...
3307      706.157306
3308      693.420786
3309      792.449960
3310      672.038623
3311      469.709298

[3312 rows x 6 columns]>

In [24]:
df["Continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [25]:
Oceania = df.loc[df["Continente"] == "Oceania"]
Oceania.head()

     Pais Continente   Ano  Expectativa de vida  População  PIB per capita
975  Fiji    Oceania  1962               56.494     421869     2039.393277
976  Fiji    Oceania  1967               58.607     485000     2170.073285
977  Fiji    Oceania  1972               60.642     544000     2797.759484
978  Fiji    Oceania  1977               62.669     599339     3182.569600
979  Fiji    Oceania  1982               64.683     658906     3209.257468

In [26]:
Oceania["Continente"].unique()

array(['Oceania'], dtype=object)

In [28]:
df.groupby("Continente")["Pais"].nunique()

Continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: Pais, dtype: int64

In [29]:
df.groupby("Ano")["Expectativa de vida"].mean()

Ano
1950    62.002568
1951    65.904167
1952    49.206867
1953    66.674563
1954    67.459817
1955    67.806757
1956    67.950637
1957    51.614590
1958    68.815936
1959    68.226579
1960    68.470837
1961    68.862480
1962    54.035234
1963    69.595735
1964    70.063105
1965    70.259881
1966    70.447526
1967    56.263629
1968    70.689081
1969    70.653896
1970    70.961141
1971    71.103976
1972    58.474481
1973    71.500338
1974    71.778504
1975    71.939218
1976    72.158050
1977    60.429090
1978    72.717567
1979    73.018717
1980    73.064524
1981    73.337399
1982    62.365871
1983    73.787778
1984    74.100741
1985    74.112222
1986    74.452222
1987    63.984860
1988    74.760000
1989    74.924444
1990    74.283438
1991    74.374848
1992    65.008443
1993    74.324545
1994    74.456667
1995    74.552727
1996    75.029394
1997    65.873799
1998    75.569697
1999    75.703636
2000    76.026364
2001    76.257879
2002    66.835695
2003    76.586667
2004    76.921562
2005    76.718667
2006    77.887778
2007    67.868557
Name: Expectativa de vida, dtype: float64

In [31]:
df["PIB per capita"].mean()

11317.115804696648

In [34]:
df["PIB per capita"].sum()

37482287.5451553